html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.overlay-div {
  position: absolute;
  height: 60%;
  width: 40%;
  right: 0%;
  float: right;
  display: flex;
  flex-direction: column;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
    );
  padding: 20px 40px 20px 40px;
  z-index: 1;
  border-radius: 0px 0px 20px 20px;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  font-family: 'Gajraj One', cursive;
  font-family: 'Roboto', sans-serif;
  transition: right 300ms ease-in-out;
}

.grabber-bar {
  position: absolute;
  bottom: 2.5%;
  left: -30px;
  width: 30px;
  height: 15%;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
    );
  z-index: 2;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.grabber-bar:hover{
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.3)
    );
}

.collapsed {
  right: -40%;
}

.li{
  font-weight: 900px;
}
.leaflet-bar a{
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.leaflet-interactive{
  transition: 30ms;
}

.forexChart{
  border: 1px solid black;
  height: 60%;
}

.forexChart svg{
  width: 100%;
  height: 100%;
}

.geojson-feature {
  fill: green;
  transition: fill 0.3s ease-in-out; /* Add a transition for fill */
}

.geojson-feature:hover {
  fill: darkgreen; /* Change color on hover */
}