html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h1, h2{
  font-weight:100;
}

.overlay-div {
  position: absolute;
  height: 80%;
  width: 40%;
  right: 0%;
  top: 5%;
  float: right;
  display: flex;
  flex-direction: column;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2)
    );
  padding: 20px 40px 20px 40px;
  z-index: 1;
  border-radius: 0px 0px 0px 20px;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  font-family: 'Gajraj One', cursive;
  font-family: 'Roboto', sans-serif;
  transition: right 300ms ease-in-out, filter 300ms ease-in-out;
  color: rgba(0, 0, 0, 0.7);
}

.grabber-bar {
  position: absolute;
  top: 0%;
  left: -31px;
  width: 30px;
  height: 15%;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2)
    );
  z-index: 2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.grabber-bar:hover{
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.7)
    );
}

.collapsed {
  right: -43%;
  filter: opacity(0.5);
}

.li{
  font-weight: 900px;
}

.leaflet-bar a{
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.leaflet-control-attribution {
  padding: 10px;
  bottom: 10px;
  right: 10px;
  border-radius: 25px;
}

.forexChart{
  border: 1px solid black;
  height: 60%;
}

.forexChart svg{
  width: 100%;
  height: 100%;
}

.custom-polyline {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}

/* the transition is adding lag  */
.leaflet-interactive:not(.custom-polyline){
  /*transition: 100ms;*/
}



